body{
background-color:#fff;
}
.row .col {
    float: left;
    box-sizing: border-box;
    padding: 0 .75rem;
    min-height: 1px;
    padding: 0px;
}

.shop-details{
	  padding: 1px 0px 0px 10px !important;
	  font-size:14px;
}
.shop-rating{
padding-top:5px !important;
}
.shop-rating i{
color:green;
}

nav .brand-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    padding: 0;
    white-space: nowrap;
}

.km {
    width: 70px;
    padding: 3px;
    border-radius: 15px;
    background-color: #e4e4e4;
    text-align: center;
    font-size: 12px;
}
.offers span{
	font-size:10px;
	color:red;
}

.image-preview {
  width: 180px;
  height: 180px;
  position: relative;
  overflow: hidden;
  background-color: #eee;
  color: #ecf0f1;
 margin: auto;
  border: 1px solid #eee;
}
.image-preview input {
  line-height: 100px;
  font-size: 100px;
  position: absolute;
  opacity: 0;
  z-index: 10;
}
.image-preview label {
  position: absolute;
  z-index: 5;
  opacity: 0.8;
  cursor: pointer;
  background-color: #26a69a;
  color:#fff;
  width: 150px;
  height: 50px;
  font-size: 12px;
  line-height: 50px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

#loading-image{
position:absolute;
top:0px;
bottom:0px;
background:#fff;
background: url('images/loader-2.gif') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
      width: 100%;
    z-index: 1;
}